.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #1e1e21, #2b2932);

    padding: 3px 10px;
    color: white;
    .left-side {
        margin-left: 1.2rem;
        display: flex;
        .logo {
            font-size: 30px;
            font-weight: bold;
            font-family: monospace;
            margin: auto;
        }
        .spacing {
            width: 7vw;
        }
        .input-container {
            padding: 8px;
            border-radius: 8px;
            position: relative;
            display: inline-block;
            transition: width 0.3s, height 0.3s;
            input {
                width: 350px;
                height: 30px;
                padding: 10px;
                font-size: 16px;
                color: #fff;
                border: 1px solid #ccc;
                background-color: transparent;
                border-radius: 5px;
                outline: none;
                transition: width 0.3s, height 0.3s;
            }

            &.focused {
                input {
                    width: 450px;
                }
            }
        }
    }
    .profile {
        display: flex;
        align-items: center;
        margin-right: 5vw;

        cursor: pointer;
    }

    .logout-button {
        background-color: #5a5863;
        color: #fff;
        margin-right: 1.875rem;
        border: 1px solid;
        display: flex;
        padding: 8px 16px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            transition: 0.4s;
            background-color: #39383b;
        }
    }
}
